.dark {
    background-color: #252a2f;
    color: #d2d2d2;
    height: 50px;
    width: 100%;
}

.light {
    background-color: #333840;
    color: #d2d2d2;
    height: 50px;
    border-bottom: 2px solid #2b2f36;
}

.time {
    display: flex;
    align-items: top;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}
.text {
    font-size: 20px;
    padding-top: 0px;
    padding-right: 10px;
    color: #d2d2d2bb;
}

.slot{
    height: 50px;
    box-sizing: border-box;
}