.Calendar {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 800px;
    background-color: #2d2d2d;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.calendar-page {
    display: flex;
    flex-direction: column;

    width: 100%;

    background-color: #2d2d2d;
}

.calendar-header{
    position: sticky;
    top: 0;

    width: 100%;
    z-index: 1000;
    height: 60px;
    background-color: #2d2d2d;
    display: flex;
    justify-content: space-between;
    align-items: center;

    border-radius: 0 0 15px 15px;

    padding: 0 15px; 
    box-sizing: border-box;
}

.header-date {
    display: flex;
    align-items: center;
    font-size: 24px;
    color: #eeeeeeef;
    padding: 30px 0;

}

.filter-button{
    background-color: transparent;
    color: #eeeeeeef;
    border: none;
    padding: 10px 20px;
    border-radius: 9999999px;
    cursor: pointer;
    transition: background-color 0.4s;
    margin-right: 20px;
}

.filter-button:hover {
    background-color: #4a90e2;
}

.time-line {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 60px;
    position: relative;
}