/* src/main.css */
html, body, #root {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
    box-sizing: border-box;
    /* Esto quita cualquier centrado raro que traiga el boilerplate */
    display: block; 
}

* {
    box-sizing: inherit;
}